/crop
/original_img

trash_codes.py
validate_demo.py
log_utils.py

**/*DS_Store
**/*__pycache__
**/*.idea
**/*logs
**/*weight_file
**/*weight
**/*weights
**/*checkpoints
**/*prediction
**/*wandb
**/*artifacts
**/*results
**/*.vscode
**/*.hdf5
**/*.ipynb_checkpoints

/inception_v3_checkpoint
/base_diffusion/xyt

/vqgan/vgg_lpips
